@import "tailwindcss";

@layer base {
  body {
    background-color: #0b1114;
    color: #cbd5e1;
    /* text-slate-300 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}